@import '../styles/respond.scss';

$color-primary: red;
$fontLarge: 1.9rem;

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 50%;

  @include respond("m"){
    font-size: 62.5%;
  }
}
main{
  font-size: $fontLarge;
}

main{
  color: $color-primary;
  font-size: $fontLarge;

  @include respond('m'){
    color: blue;
  }
}